<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
 
  </head>
  <body>
    <h1><%= title %></h1>
    <table border="1">
      <tr>
         <th>Task Name</th><th>Status</th><th>Change</th><th>Submit</th>
      </tr>
      <% dict = {0:"No Progress", 1:"In Progress", 2:"Completed"}%>
      <% for (var i = 0; i < data.length; i++) { %>
       <tr>
         <td><%= data[i].task %></td>
         <td><%= dict[data[i].status] %></td>
         <form action="/update/<%=data[i].taskID%>" method="post">
          <td> 
              <select name="newStatus" id="newStatus">
                <option value="">--Please choose an option--</option>
                <option value="0">No Progress</option>
                <option value="1">In Progress</option>
                <option value="2">Completed</option>
              </select>
            </td>
            <td>
              <button name="foo" value="submit">Submit</button>
            </td>
          </form>
       </tr>    
      <% } %>
   </table>
   <br><br><br><br><br><br>
   <% if (message.length > 0) { %>
    <div class="alert alert-danger col-sm-12"><%= message %></div>
    <% } %>
   <form action="/add" method="post">
    <label for="newTask">New Task:</label><br>
    <input type="text" id="newTask" name="newTask" value=""><br>
    <button name="foo" value="upvote">Add</button>
  </form> 
  <br><br><br><br><br><br>
    <form action="/logout" method="post">
      <button name="foo" value="upvote">Logout</button>
    </form>
  </body>
</html>
